<ion-header>
  <ion-toolbar>
    <ion-title>AppointmentBooking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <app-header></app-header>
      <ion-card color="primary">
          Agent ID: {{appAgent}}
      </ion-card>
      
      <ion-card color="warning">
            
                <ion-label>
                    Date:
                </ion-label>
                <ion-input type="date" [(ngModel)]="appDate"></ion-input>
                <br>
                <ion-label>
                    Time:
                </ion-label>
                <ion-input placeholder="Time" type="time" [(ngModel)]="appTime"></ion-input>
                <br>

                <ion-label>
                  OHIP:
              </ion-label>
              <ion-input placeholder="ohip" type="number" [(ngModel)]="appOHIP"></ion-input>
              <br>

              <ion-label>
                Email
            </ion-label>
            <ion-input placeholder="Email" type="Email" [(ngModel)]="appEmail"></ion-input>
            <br>

            <ion-label>
              Phone Number:
          </ion-label>
          <ion-input placeholder="phone number" type="phone" [(ngModel)]="appPhone"></ion-input>
          <br>

              
      </ion-card>

      <ion-button (click)="appointmentAdd()" [routerLink] = "['/home']">
          Add Appointment
      </ion-button>

      <app-footer></app-footer>


</ion-content>
