<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COVID-19 Vaccine Appointment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">COVID-19 Vaccine Appointment</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-header></app-header>

  <!--Blue box-->
  <ion-card color="success">

    <ion-input>
      Agent ID:
    </ion-input>

    <ion-button (click)="loadAppointment()">
      Load Appointment
    </ion-button>

    <ion-button>
      Book Appointment
    </ion-button>
  </ion-card>

  <!--Pink colour-->
  <ion-card color="danger">
    <br>
    <h4>Delete Appointment</h4>
    <br><br>
    <ion-button>
      Confirm Deletetion
    </ion-button>
  </ion-card>

  <ion-card color="warning" *ngFor="let index = index; let app of appList;">
    <br>
    <ion-button (click)="confirmToDeleteAppt(app.appEmail)">
      Delete
    </ion-button>
    <ion-row>
      Key: {{index}}<br>
    </ion-row>

    Date: {{app.appDate | date}}<br>
    <!-- Time: {{app.appTime |time }}<br>  -->
    OHIP: {{app.appOHIP}}<br>
    Email: {{app.appEmail}} <br>
    Phone: {{app.appPhone}}<br>
    Agent: {{app.appAgent}}<br> <br>

  </ion-card>
  <app-footer></app-footer>


</ion-content>